{
  "rules": {
    "string-no-newline": true,
    "keyframe-declaration-no-important": true,
    "function-calc-no-unspaced-operator": true,
    "function-linear-gradient-no-nonstandard-direction": true,
    "no-invalid-double-slash-comments": true,
    "no-duplicate-at-import-rules": true,
    "font-family-no-duplicate-names": true,
    "declaration-block-no-duplicate-properties": [true,{"ignore":["consecutive-duplicates-with-different-values"]}],
    "no-duplicate-selectors": true,
    "block-no-empty": true,
    "comment-no-empty": true,
    "no-empty-source": true,
    "no-eol-whitespace": true,
    "no-extra-semicolons": true,
    "color-no-invalid-hex": true,
    "no-missing-end-of-source-newline": true,
    "font-family-no-missing-generic-family-keyword": true,
    "selector-descendant-combinator-no-non-space": true,
    "no-descending-specificity": true,
    "declaration-block-no-shorthand-property-overrides": true,
    "number-no-trailing-zeros": true,
    "length-zero-no-unit": true,
    "at-rule-no-unknown": true,
    "media-feature-name-no-unknown": true,
    "property-no-unknown": true,
    "selector-pseudo-class-no-unknown": true,
    "selector-pseudo-element-no-unknown": true,
    "selector-type-no-unknown": true,
    "unit-no-unknown": true,
    "function-max-empty-lines": 0,
    "selector-max-empty-lines": 0,
    "value-list-max-empty-lines": 0,
    "max-empty-lines": 1,
    "declaration-block-single-line-max-declarations": 1,
    "block-opening-brace-newline-after": "always-multi-line",
    "at-rule-semicolon-newline-after": "always",
    "block-closing-brace-newline-after": "always",
    "declaration-colon-newline-after": "always-multi-line",
    "function-comma-newline-after": "always-multi-line",
    "media-query-list-comma-newline-after": "always-multi-line",
    "selector-list-comma-newline-after": "always",
    "value-list-comma-newline-after": "always-multi-line",
    "declaration-block-semicolon-newline-after": "always-multi-line",
    "block-closing-brace-newline-before": "always-multi-line",
    "function-parentheses-newline-inside": "always-multi-line",
    "at-rule-name-space-after": "always-single-line",
    "selector-attribute-operator-space-after": "never",
    "declaration-bang-space-after": "never",
    "media-feature-colon-space-after": "always",
    "declaration-colon-space-after": "always-single-line",
    "selector-combinator-space-after": "always",
    "function-comma-space-after": "always-single-line",
    "media-query-list-comma-space-after": "always-single-line",
    "value-list-comma-space-after": "always-single-line",
    "block-opening-brace-space-after": "always-single-line",
    "media-feature-range-operator-space-after": "always",
    "declaration-block-semicolon-space-after": "always-single-line",
    "selector-attribute-operator-space-before": "never",
    "declaration-bang-space-before": "always",
    "block-closing-brace-space-before": "always-single-line",
    "media-feature-colon-space-before": "never",
    "declaration-colon-space-before": "never",
    "selector-combinator-space-before": "always",
    "function-comma-space-before": "never",
    "media-query-list-comma-space-before": "never",
    "selector-list-comma-space-before": "never",
    "value-list-comma-space-before": "never",
    "block-opening-brace-space-before": "always",
    "media-feature-range-operator-space-before": "always",
    "declaration-block-semicolon-space-before": "never",
    "selector-attribute-brackets-space-inside": "never",
    "function-parentheses-space-inside": "never-single-line",
    "media-feature-parentheses-space-inside": "never",
    "selector-pseudo-class-parentheses-space-inside": "never",
    "number-leading-zero": "never",
    "declaration-block-trailing-semicolon": "always",
    "at-rule-empty-line-before": ["always",{"except":["blockless-after-same-name-blockless","first-nested"],"ignore":["after-comment"]}],
    "comment-empty-line-before": ["always",{"except":["first-nested"],"ignore":["stylelint-commands"]}],
    "custom-property-empty-line-before": ["always",{"except":["after-custom-property","first-nested"],"ignore":["after-comment","inside-single-line-block"]}],
    "declaration-empty-line-before": ["always",{"except":["after-declaration","first-nested"],"ignore":["after-comment","inside-single-line-block"]}],
    "rule-empty-line-before": ["always-multi-line",{"except":["first-nested"],"ignore":["after-comment"]}],
    "block-closing-brace-empty-line-before": "never",
    "function-whitespace-after": "always",
    "comment-whitespace-inside": "always",
    "indentation": 2,
    "at-rule-name-case": "lower",
    "function-name-case": "lower",
    "color-hex-case": "lower",
    "media-feature-name-case": "lower",
    "property-case": "lower",
    "selector-pseudo-class-case": "lower",
    "selector-pseudo-element-case": "lower",
    "selector-type-case": "lower",
    "unit-case": "lower",
    "color-hex-length": "short",
    "selector-pseudo-element-colon-notation": "double"
  }
}